@media (max-width: 1550px){
    .add{
        font-size:20px;
    }

    .con{
        width:100%;
        max-width:600px;
        display:flex;
        justify-content:top;
        align-items:center;
        margin-left:38%;
    }
    .form{
        /* margin-left:-50%; */
        width:90%;
    }

    .select{
        width:200px;
    }
}